@import "../globals/vars";

.nav-bar {
  z-index: 10;
  position: fixed;
  top: $bar-height;
  left: 0;
  height: $bar-height;
  width: $full-width;
  background-color: $secondary-color-main;
  box-shadow: $box-shadow;

  text-align: center;

  a {
    padding: 15px;
    display: inline-block;
    height: $bar-height - 20px;
    width: $full-width / 5;

    line-height: $bar-height - 30;
    font-size: $font-size-nav;
    color: $secondary-color-contrastText;
    text-decoration: none;
    vertical-align: center; 
  }

  .navlink.active {
    background-color: $secondary-color-contrastText;
    color: $primary-color-contrastText;
    box-shadow: inset 0px -10px 0px 0px $primary-color-main,
      inset 5px 0px 10px 0px $box-shadow-color,
      inset -5px 0px 10px 0px $box-shadow-color;
  }
}